@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<LocalizationDemo.Controllers.HomeController> Localizer;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    @Localizer["AboutUs"]
</div>
